.clock {
  animation: clockAnimation 5s ease-in-out infinite;
}

.degree-hat {
  animation: degreeHatAnimation 5s ease-in-out infinite;
}

.title,
.sub-title,
.btn {
  animation: textAnimation 0.4s ease-in-out forwards;
  opacity: 0;
}

.title {
  animation-delay: 0.3s;
}
.sub-title {
  animation-delay: 0.6s;
}
.btn {
  animation-delay: 1s;
}

.fadeIn {
  animation: fade-in 0.4s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.25s;
}

@keyframes clockAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes degreeHatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes textAnimation {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
