.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #3b3b3b;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #59529f;
}
.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #532d7b;
}
.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #2a4b8f;
}
.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #75348a;
}
.st5 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #146cb5;
}
.st6 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #2b2e69;
}
